.forms-input {
  .mat-form-field-wrapper {
    padding-bottom: 0;
    .mat-form-field-flex {
      background: #FFFFFF;
      border-radius: 5px;
      padding-top: 0.4em;
      .mat-form-field-infix {
        padding-bottom: 0.4em;
        .mat-select-value {
          padding-left: 0.4rem;
        }
        input {
          padding-left: 0.4rem;
        }
        .mat-form-field-label-wrapper {
          label {
            padding-left: 0.5rem;
          }
        }
      }
    }
    .mat-form-field-underline {
      display: none;
    }
  }
}