a {
  margin: 0 3rem;
  font-weight: 900;
  font-size: 18px;
  color: #898989;
  padding-bottom: 38px;
  text-decoration: none;
  .page-name {
    padding: 0 0.5rem;
  }
  .arrow {
    margin-bottom: 4px;
    border-color: #898989;
  }
  &:hover, &.selected {
    color: #FF5A70;
    cursor: pointer;
    .arrow {
      border-color: #FF5A70;
    }
    img {
      filter: invert(48%) sepia(67%) saturate(2142%) hue-rotate(319deg) brightness(102%) contrast(101%);
    }
  }
  &.selected {
    border-bottom: 4px solid #FF5A70;
  }
}

@media (max-width: 1180px) {
  toolbar-navigation, user {
    display: none;
  }
}