.chat {
  color: white;
  padding: 19px 21px;
  cursor: pointer;
  position: fixed;
  bottom: 23px;
  right: 39px;
  background: #FF5A70;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  .mat-icon {
    width: 37px;
    height: 37px;
    font-size: 37px;
  }
}